body {
    font-family:"raleway",sans-serif;
    margin: 0;
}
h1
{
  font-weight: bold;
  font-style: normal;
  font-size: 1,5em;
}
h2
{
  font-weight: bold;
  font-style: normal;
  font-size: 1,3em;
  }
h3
{
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
}
h4 {
  font-size: 0,6em;
  font-style: normal;
  font-weight: normal;
}


#navigation {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: inline-flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

}
#inscrire {
  font-weight: bold;
  color: #0065FC;
  border-top: none;
}
nav a
  {
  color: black;
  text-decoration:none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  }
nav a:hover
    {
    text-decoration: none;
    color:#0065FC;
    border-top: 2px solid #0065FC;
    }

#filtre {
  margin-left: 50px;
  margin-right: 50px;
}
#form_recherche {
  display:flex;
}


.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
}
input {
  border: none;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  background-color: white;
  padding: 15px;
  border-radius: 15px 15px 15 px 15px;
}
 span {
    color: white;
    font-weight: bold;
    padding: 15px;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
}

.filter {
  display:inline-flex;
  font-weight: bold;
}
.filter_name{
  font-weight: bold;
  font-style: normal;
  font-size: 1,2em;
}
#hebergement1 {
  display: flex;
  background-color: #F2F2F2;
}
#hebergement2 {
  display: flex;
  background-color: #F2F2F2;
}
#pieddepage {
  display: flex;
  background-color:#F2F2F2;
  justify-content: flex-start;
  text-align: left;
}

#apropos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%

}
#nos_hebergements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%

}
#assistance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%
  padding: 10px
}
.foot_menu {
  list-style-type: none;
  text-align: left;

}

.icon_filter {
  background-color: #DEEBFF;
}
.fa-info {
  color: #0065FC;
}

.etoiles {
  color: #0065FC;
}
