body {
    font-family: , 'raleway',verdana,sans-serif;
    margin: 0;
}
h1
{
  font-weight: bold;
  font-style: normal;
  font-size: 1,3em;
}
h2
{
  font-weight: bold;
  font-style: normal;
  font-size: 1,3em;
  }
h3
{
  font-size: 0,8em;
  font-style: normal;
  font-weight: bold;
}
#navigation {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

#menu {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}
a
  {
  color: blue;
  text-decoration:none;
  }

a:visited
  {
    color: black;
    text-decoration:none;
  }

a:hover
  {
  text-decoration: overline;
  }


#hebergement1 {
  display: flex;
  background-color: #F2F2F2;
}
#hebergement2 {
  display: flex;
  background-color: #F2F2F2;
}
#pieddepage {
  display: flex;
  background-color:#F2F2F2;
  justify-content: flex-start;
  text-align: left;
}

#apropos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%

}
#nos_hebergements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%

}
#assistance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%
  padding: 10px
}
.foot_menu {
  list-style-type: none;
  text-align: left;

}
.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
}
.icon_filter {
  background-color: #DEEBFF;
}
.fa-info {
  color: #0065FC;
}

.etoiles {
  color: #0065FC;
}
