body {
    font-family:"raleway",sans-serif;
    margin: 0;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
em  {
  font-weight: bold;
  font-style: normal;
  font-size: 1,2rem;
}
h2 {
  font-weight: bold;
  font-size: 1,5rem;
  }
h3 {
  font-size: 1,2rem;
  font-style: normal;
  font-weight: bold;
}
h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;

}

/*---------------------header---------------------------*/

#navigation {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
}

#navigation2 {
    display: none;
}
#menu {
  display: inline-flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

}
#inscrire {
  font-weight: bold;
  color: #0065FC;
  border-top: none;
}
nav a
  {
  color: black;
  text-decoration:none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  }
nav a:hover
    {
    text-decoration: none;
    color:#0065FC;
    border-top: 2px solid #0065FC;
    }
    /*---------------------section recherche et filtres---------------------------*/

#filtre {
  margin-left: 50px;
  margin-right: 50px;
  align-items: baseline;

}

#form_recherche {
  display:flex;
  justify-content: flex-start;
}
.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 15px 15px 15px 15px;
    border-radius: 15px 0 0 15px;
}

input {
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-left: none;
  border-right: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  padding: 15px;

}
 span {
    color: white;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
}

.icone_loupe {
    display: none;
}

/*---------------------ligne de filtres---------------------------*/


.filtres {
    display: flex;
    align-items: center;
}

 h3 + ul  {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.filtres li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 200px;
    font-weight: bold;
    padding: 0 20px 0 0;
    margin-top: 10px;
    margin-left: 25px;

}
.filtres a {
  text-decoration: none;
  font-weight: bold;
  color: black;


}

.ifiltre  {
   background-color: #DEEBFF;
   color: #0065FC;
   border-radius: 200px;
   padding: 15px;
   margin-right: 15px;
   size: 50px;
}

.filtres li:hover {
   background-color: #DEEBFF;
}

.info p {
    display: inline;
}

.info .fas {
    color: #0065FC;
    border: 3px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
}
/*---------------------section hebergement---------------------------*/


.hebergement {
  display: flex;
  flex-direction: row;
  }

  /*---------------------hebergements_marseille---------------------------*/

.hebergement1 {
  display: flex;
  background-color: #F2F2F2;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0px 20px 50px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 65%;

}

.hebergements_marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.h_marseille {

  display: block;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
  width: 30%;

}


.h_marseille img
{
  width: 100%;
  height: 12vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border-color : white;
}

.oui {
  color: #0065FC;
}
.non {
  color: #E2F2F2;
}
/*---------------------les plus populaires---------------------------*/

.hebergement2 {
    display: flex;

    background-color: #F2F2F2;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%;
  }

.hebergements_populaires {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}
.titre_pop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-left: 15px;
}


.h_populaire {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height:26%;
  padding: 5px;

}

.h_populaire img
{
  width: 40%;
  height : 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  border-color : white;
}
.sous_titre_h_pop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;


}




/*---------------------activites---------------------------*/

#activites {
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 45px;
}

#activites h2 {
    margin-left: 25px;
}

.activites article {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 1px 1px 8px #e2e2e2

}

.activites {
   display: flex;
   justify-content: space-around;
}

.vieux_port img {
    width: 22vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.calanques img {
    width: 22vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.fort img {
    width: 20vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.frioul img {
    width: 20vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.notre_dame img {
    width: 20vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.parc img {
    width: 20vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites h3 {
    margin-left: 20px;
}

.images_vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*---------------------footer---------------------------*/

.footer {
  background-color: #F2F2F2;
  padding: 50px 50px 50px 50px;
  width: 100%;

}

.pieddepage {
  display: flex;
  flex-wrap:  wrap;
  flex-direction: row;
  background-color:#F2F2F2;
  justify-content: flex-start;

}

.foot_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%
}
.foot_menu h3  {
  margin: 0px 0px 15px 0px;
}
.foot_menu h4 {
  margin: 0px 0px 10px 0px;
}

/*----------------------media queries-------------------*/
/*----------------------tablette paysage-------------------*/

@media screen and (max-width: 1340px) {


    .hebergements_marseille div {
        height: 25vw;
    }
    .h_marseille {
        height:90%;
    }
    .h_populaire {
        height: 30%;
    }

    .h_populaire img {
        height: 100%;
    }

    .activites article {
        width: 18vw;
        height: auto;
    }

    .activites img {
        width: 100%;
    }

}
/*----------------------tablette portrait-------------------*/

@media screen and (max-width: 1024px){

    .hebergement {
        display: flex;
        flex-direction: column-reverse;
            border: 3px solid black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100vw;


    }
    .hebergement1 {
            border: 2px solid grey;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: white;
      width: 100vw;
    }
    .hebergements_marseille div {
        height: 30vw;
        width: 90vw;
        border: 1px solid blue;
    }

    .hebergements_marseille img {
        height : 60%;
    }

    .hebergement2 {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    width: 100vw;


      }

    .hebergements_populaires {
        margin-bottom: 20px;
        height: 80vw;
    }
    .h_populaire {
        margin-bottom: 10px;

    }
    # activites {
        margin: 0px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        }

    .activites {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        align-content: flex-start;

    }

    .activites div {
        justify-content: space-between;

    }
    .activites article {
        width: 100%;
        height : 40vw;
        margin-bottom: 20px;

    }
    .activites img {
        width: 100%;
        height : 80%;
    }
    .images_vertical article {
        width: 100%;
        height: 40vw;
    }
    .images_vertical img {
        width: 100%;
        height: 80%;
    }

}

@media all and (max-width: 768px){

#navigation {
    display: none;

    }

    #navigation2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: flex-start;
        }
.en_tete {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    width: 90%;
}
#menu {
  display: inline-flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  width: 100%;

}
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
nav li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}
nav a
  {
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
  }
nav a:hover {
    border-top: none;
}
nav li:hover {
    color:#0065FC;
    border-bottom: 2px solid #0065FC;

    }
    #filtre {
      margin-left: 15px;
      margin-right: 15px;
      align-items: baseline;

    }

    #form_recherche {
      display:flex;
      justify-content: center;
    }


.recherche {
    display: none;
}
 .icone_loupe {
    display: block;
    color: white;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    background-color: #0065FC;
    border: none;
    border-radius: 15px 15px 15px 15px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
  }

  .pieddepage {
    display: flex;
    flex-wrap:  wrap;
    flex-direction: column;
    background-color:#F2F2F2;
    justify-content: flex-start;

  }

  .foot_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
  }

  .foot_menu h3  {
    margin: 20px 0px 20px 0px;
  }
  .foot_menu h4 {
    margin: 0px 0px 10px 0px;
  }

}
